﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ViewFileHistory.aspx.cs"
    Inherits="XReportSearch.ViewFileHistory" Theme="XReportSearchTheme" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html>
<head id="Head1" runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <title>XReport History Search</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    </div>
    <asp:Label ID="l_error" runat="server" Text="" SkinID="LabelWarning" Visible="false"></asp:Label>
    </form>
</body>
</html>
