html
{
    height: 100%;
    width: 100%;
    overflow: scroll;
}

body { margin: 0; }

.headerLeftSmall
{
    background-image: url("../Images/testalino_sx.jpg");
    top: 0;
    width: 300px;
    height: 70px;
    z-index: 9999;
    position: absolute;
}

.headerContainerTitleInner
{
    width: 100%;
    height: 22px;
    background-color: #52A201;
    border-top-width: 1px;
    border-top-color: White;
    border-top-style: solid;
    white-space: nowrap;
}

.headerContainer
{
    width: 100%;
    height: 70px;
    background-position: left top;
    background-repeat: repeat-x;
    background-image: url("../Images/testalino_middle.jpg");
    top: 0;
}

section { 
	height: 2000px;
	padding-top: 100px; 
}

.sticky { background: lightblue; }

.fixed {
	position: fixed;
	top:50%; left:90%;
	width: 100%;
}

a {
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
}

a:hover {
	background-color: #ddd;
	color: black;
}

.next {
	background-color: #4CAF50;
	color: white;
}

.previous {
	background-color: #4CAF50;
	color: white;
}


.round {
	border-radius: 50%;
}

#inner {
	display: table;
	margin: 0 auto;
}
#divtext {
	font-size: 11px;
}

.custom-menu {
	display: none;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
	background: #FFF;
	color: #333;
	border-radius: 5px;
	padding: 0;
}

.comment-menu {
	display: none;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
	background: #FFF;
	color: #333;
	border-radius: 5px;
	padding: 0;
}

.edit-menu {
	display: none;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border: 1px solid #CCC;
	white-space: nowrap;
	font-family: sans-serif;
	background: #FFF;
	color: #333;
	border-radius: 5px;
	padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
	padding: 8px 12px;
	cursor: pointer;
	list-style-type: none;
	transition: all .3s ease;
	user-select: none;
}

.comment-menu li {
	padding: 8px 12px;
	cursor: pointer;
	list-style-type: none;
	transition: all .3s ease;
	user-select: none;
}

.edit-menu li {
	padding: 8px 12px;
	cursor: pointer;
	list-style-type: none;
	transition: all .3s ease;
	user-select: none;
}

.custom-menu li:hover  {
	background-color: #DEF;
}

.comment-menu li:hover {
	background-color: #DEF;
}

.edit-menu li:hover {
	background-color: #DEF;
}

.header-conf{
       font-family: sans-serif;
       color:red;
       font-weight:bold;
       background-color:#DEDDD8;
       font-size:larger;
}
.messlabel{
       font-family: sans-serif;
       font:bold;
       color:#0D24BD;
       background-color:#72C3EC;
       transform: translate(5%, 20%)
}
.confirm-menu{
       width:340px;
       height:165px;
       display: none;
       z-index: 1000;
       position: absolute;
       overflow: hidden;
       border: 2px solid #1B39FC;
       white-space: nowrap;
       font-family: sans-serif;
       background: #72C3EC;
       color: #2DA260;
       border-radius: 5px;
       padding: 0;
       text-align:center;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%)

}

