﻿/*** MENU ***/

div.menu
{
    padding: 4px 0px 4px 4px;
    margin-right: 6px;
    background-color: Black;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #DBF3FF;
    border: 1px #4e667d solid;
    color: #2879A6;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    font-family: Verdana;
    font-size: smaller;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

div.hideSkiplink
{
    background-color:#e5f6d1;
    width:100%;
}
