﻿body 
{
    font-size: small;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    margin: 0px;
    padding: 0px;
    background-image: url("../Images/bk_login.gif");
    background-repeat: repeat-x;
    background-position: left top;
}

.logo
{
    position: fixed;
    right: 1%;
    top: 3%;
}

.login
{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -110px;
    margin-left: -195px;  
}

.marginLogo
{
    margin-bottom: 20px;
    text-align: right;
}

.marginLogin
{
    width: 310px;
    margin-bottom: 10px;
    text-align: right;
}

.summary
{
    margin-top:20px;
    text-align:right;
}

/*** BUTTON ***/
.button
{
    color: Black; /* Colore testo */
    height: 27px;
    width: 95px;
    font-weight: bold;
    font-family: Verdana;
    font-size: small;
    text-align: center;
    border: solid 1px #bfcbd6;
    background: #e5f6d1; /* Background di base */
    background: -webkit-gradient(linear, left top, left bottom, from(#e5f6d1), to(#518012)); /* Sfumatura: che parte da "left-top" e arriva a "left-bottom" "from" il colore "to" l'altro colore  */
    background: -moz-linear-gradient(top,  #e5f6d1,  #518012); /* Per Firefox */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5f6d1', endColorstr='#518012'); /* Per Explorer, anche se richiede il lancio di un ActiveX che di default è settato a true sui IE, ma che potrebbe richiedere la conferma da parte dell'utente */
}

/* poi definiamo il css quando si passa sopra il tasto con il mouse */
.button:hover
{
    background-color: #bfcbd6;
    color: Black; /* il colore del testo */
    background: #518012; /* Background di base */
    background: -webkit-gradient(linear, left top, left bottom, from(#518012), to(#e5f6d1)); /* Sfumatura: che parte da "left-top" e arriva a "left-bottom" "from" il colore "to" l'altro colore  */
    background: -moz-linear-gradient(top,  #518012,  #e5f6d1); /* Per Firefox */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#518012', endColorstr='#e5f6d1'); /* Per Explorer, anche se richiede il lancio di un ActiveX che di default è settato a true sui IE, ma che potrebbe richiedere la conferma da parte dell'utente */
}
