  body {
    border: 0; margin:0; padding:0; cursor: default;
	background-color: white;
  }
  
  body, tr, td, INPUT {
    font-family: Tahoma, Arial, Verdana; font-size: 11px; cursor: default;
	color: #000080;
  }

  .hdr, .hdr TD, .dbhdr, .dbhdr TD {
    font-size: 12px;
    font-weight: bold;
	background-color: lavender;
  }
  
  .dbhdr, .dbhdr TD {
	cursor: hand;
  }
  
  .trl, .trl TD {
    height:7;
	background-color: lavender;
  }


  .flk, .flk TD {
	cursor: hand;
	font-family: Lucida Console;
        font-weight: bold;
        font-size: 13px;
  }

  .fPM {
    cursor: hand;
  }

  .rn_yes {
  	color: mediumblue;
  }

  .rn_no {
  	color: lightsteelblue;
  }


  .flag {
    cursor: help;
  }
  
  .tpdf, .expand {
  	color: blue;
	cursor: hand;
  }

  .tref {
    font-size: 14px;
	cursor: hand;
    font-weight: normal;
    font-style: oblique;
  }

  .urth, .urth TH, .urth TD {
    background-color: #F0F0FA;
    background-color: lavender;
	line-height:14px;
    font-size: 13px;
    font-weight: bold;
  }

  .urh, .urh TH, .urh TD {
    background-color: #F0F0FA;
    background-color: lavender;
	line-height:13px;
    font-size: 12px;
    font-weight: bold;
	cursor: hand;
  }

  .dbdiv {
    position:absolute;
	display:none;
	left:7;
	top:7;
  }

  .dbfrm {
    margin:0;
    behavior:url(htc/dbfrm.htc);
  }

  .dbrds {
    width=0; height=0;
    behavior:url(htc/dbrds.htc);
  }

  .dbtbl {
    behavior:url(htc/dbtbl.htc);
  }

  .dbsel {
    cursor:hand; color:blue;
  }

  .dbtr .dbi, .dbtr .dbik {
    background-color: #F4F4F4;
  }

  .dbtr_curr .dbi , .dbtr_curr .dbik {
    background-color: yellow;
  }

  .dbik {
    color: #0000A0;
  }

  .idxref {
    cursor: hand;
  }

  .PAGEHDR {
    font-size: 16px;
    font-weight: bold;
  }

  .sel {
    color: blue; cursor:hand;
  }

  .selected {
    background-color: mediumslateblue; color:white; cursor:hand;
  }

  .wRF, .fRF {
    font-family:"Wingdings 3"; font-size:14px; color:navy; cursor:hand;
  }
  
  .TREEHDR {
    font-size: 15px; line-height:24px;
    color:blue;
    font-weight: bold;
  }

  .BUTTON {
    font-size: 13px;
	color:blue;
    cursor:hand;
	background-color: lavender; padding:2;
  }

  .MSG {
    color: red;
	font-weight: bold;
	text-decoration: blink;
  }

  .window {
    border-style:dashed;
	border-width: 2;
	border-color: royalblue;
  }
  
  .fwindow {
    border-style:dashed;
	border-width: 2;
	border-color: royalblue;
    behavior:url(htc/dbwin.htc);
  }

  .UserTimeRef TD, {
    cursor: hand;
  }

  .UserRef {
    color: navy; 
    font-weight: bold;
  }

  .htmlobject {
    font-size:12px;
    margin:10;
  }

  .V_0 {
    font-family:Wingdings; color: white; cursor: default;
	line-height:13px; font-size: 13px;
  }

  .V_1 {
    font-family:Wingdings; color: lime; cursor: hand;
	line-height:13px; font-size: 13px;
  }

  .C_1 {
    font-family:Wingdings; color: red; cursor: hand;
	line-height:13px; font-size: 13px;
  }

  .C_3 {
    font-family:Wingdings; color: red; cursor: default;
	line-height:13px; font-size: 13px;
  }
  
  .C_2 {
    font-family:Wingdings; color: lime; cursor: hand;
	line-height:13px; font-size: 13px;
  }

  .N_0 {
    font-family:Wingdings; color: gainsboro; cursor: hand;
	line-height:13px; font-size: 13px;
  }

  .N_1 {
    font-family:Wingdings; color: #808080; cursor: hand;
	line-height:13px; font-size: 13px;
  }

  .N_2 {
    font-family:Wingdings; color: lime; cursor: hand;
	line-height:13px; font-size: 13px;
  }

  .even {
    background-color:#EEEEFF;
  }

  .odd {
    background-color:white;
  }

  .fsort {
    cursor:hand;
  }

  a:link, a:visited {
  	color: #483D8B;
	font-style: italic;
    text-decoration: none;
  }
  a:visited {
  	color: #4B0082;
  }
