BODY
  {
  font-family:verdana;
  cursor:default;
  font-size:70.5%;
  }

A
  {
  color:black;
  text-decoration:none;
  margin:0px;
  padding:0px;
  }

LI
  {
  list-style-type:none;
  margin:0px;
  padding:0px;
  height:19px;
  }

LI IMG
  {
  cursor:hand;
  margin:0px;
  padding:0px;
  }

LI SPAN
  {
  color:black;
  cursor:hand;
  text-decoration:none;
  border:1px solid #F1F1F1;
  margin:0px;
  padding-left:1px;
  padding-right:0px;
  padding-top:2px;
  padding-bottom:2px;
  position:relative;
  top:-3px;
  left:-5px;
  }

LI SPAN.clsMouseOver
  {
  background-color:#CCCCCC;
  border:1px solid #999999;
  }

LI SPAN.clsMouseDown
  {
  background-color:#999999;
  border:1px solid #999999;
  }

LI SPAN.clsCurrentHasFocus
  {
  background-color:#FFFFFF;
  border:1px solid #999999;
  }

LI SPAN.clsCurrentNoFocus
  {
  background-color:#F1F1F1;
  border:1px solid #999999;
  }

LI SPAN.clsUnavailable
  {
  color:#888888;
  }

LI UL
  {
  margin-left:16px;
  margin-right:0px;
  margin-top:1px;
  margin-bottom:0px;
  padding:0px;
  display:none;
  }

.deeptree
  {
  display:list-item;
  margin-top:2px;
  margin-left:7px;
  margin-right:5px;
  margin-bottom:5px;
  padding:0px;
  behavior:url(htc/deeptree.htc);
  }

.hidden
  {
  display:none;
  }

.shown
  {
  display:list-item;
  }

.treelabel
  {
  font-family:verdana;
  font-size:70.5%;
  color:white;
  }
