
INPUT {
  border:1; border-style:solid; border-color:darkslateblue;
  font-size:13; font-weight:normal;
}

.qtable {
  color:darkslateblue; background-color: lavender;
  margin-left:10; border:1; border-style: solid; border-color:darkslateblue;
}

.qlabel {
  text-align: right; color:darkslateblue; background-color: lavender;
  font-size:13; font-weight:bold;
}

.indexList {
  margin-left:10; border:1;border-color:black; border-style:solid;
}

.detailList * {
  margin-left:10; font-size:14;
}

.detailHdr * {
  background-color:lavender;
}

.detailEnd * {
  page-break-after: always;
}

.indexList thead, .indexList tfoot {
  font-size:12;
  background-color:lavender;
}

.sel {
  color: blue; cursor:hand;
}

.selected {
  background-color: mediumslateblue; color:white; cursor:hand;
}

.odd {
}

.even {
  background-color: #E8E8E8;
}
