  
    /* Define the style sheet for the menu bar */
    #menubar {position: relative; font: menu; cursor: default; color: menutext; background: menu;}
    
    /* style for the top-level menu items */
    #menubar .root {border: 1px menu solid; padding-left: 4px; padding-right: 4px;}
    
    /* Style for nested menus */
    #menubar TABLE {
      font: menu; color: menutext; background: menu; margin: 1px; padding: 0px; 
      border-left: 1px buttonhighlight solid; border-top: 1px buttonhighlight solid; 
      border-right: 1px buttonshadow solid; border-bottom: 1px buttonshadow solid;
      display: none; position: absolute;
    }
    #menubar TABLE TD {padding-top: 2px; padding-bottom: 2px; padding-left: 10px; padding-right: 12px; margin: 0px}
    
    /* Style for highlighted elements */
    #menubar .highlight {color: white; color: highlighttext; background: highlight}
    
    /* Style for highlighting disabled elements */
    #menubar .disabledhighlight { color: inactivecaptiontext; background: highlight;}
    
    /* Style for disabled and break elements */
    #menubar #break, #menubar .disabled {color: inactivecaption;}
    
    /* Remove padding and margins for break elements (horizontal bars) */
    #menubar #break { margin:0px; border:0px; padding:0px;}
    #break .disabledhighlight { color: inactivecaptiontext; background: red; }
    
    /* Style for the arrow representing more choices */
    #menubar .more {
      font: 9pt webdings; position: relative; height: 9pt; left: 14pt; top: -2pt; 
      margin: 0pt; padding: 0pt;float: right; width: .8em
    }
    #menubar .left {margin-left: -11pt}


    /* Used for the color picker sub-menu */
    #colors TD {width: 10pt; height: 10pt; font-size: 1pt; padding: 0pt; margin: 0pt}
    UL {font: 10pt verdana}
