<head><link type="text/css" rel="stylesheet" href="css/cereport.css"></link> 
<style type="text/css">
<!--/* <![CDATA[ */
<!-- 
body {
    border: 0; margin: 5; padding:0;
	background-color: white;
 }

  .caption {
    font-size: 12pt;
    font-family: arial;
    font-weight: bold;
    align: left;
    color: #000080;
  }
  .stRecvError, .stProcError {
    color: red;
  }
  .stReceived, .stCompleted {
    color: green;
  }
-->


/* ]]> */-->
</style>



</head>

<script language="JavaScript" type="text/javascript">

//Chiamo una pagina di documentazione
function openWindow(myhelp,mywin){
  popupWin2= window.open(myhelp, mywin, ' height=650, scrollbars=1,resizable=1', false )
  return true
}

</script>


<body  margin="5">
 <h2>XReport Processes</h2>

 <table>
 <tr>
  <td class=tref><a target='Pslist' href='Pslist.pl?action=fissa'>Pagina Fissa</a></td></tr>
 <tr>
  <td class=tref><a target='Pslist' href='Pslist.pl'>AutoRefresh</a></td></tr>
 <tr>
  <td class=tref><a target="Pslist" href='Pslist.pl?action=print&name=print'>Stampa Test</a></td></tr>
 <tr>
  <td class=tref><a target='Pslist' href='pslist_recvErr.pl'>Gestione Errori</a></td></tr>
 <tr>
  <td class=tref>Suspendi/Attiva Job</td></tr>
 <tr>
  <td class=tref onclick="openWindow('./tsmlog/pslist_elencoVer.htm','NewMyText');">Lista Verifiche</td></tr>
 <tr>
 <!--tr>
  <td class=tref onclick="OpProcesses()">Processes</a></td></tr-->
 </table>
</body>
