
<head><link type="text/css" rel="stylesheet" href="css/cereport.css"></link> </head>

<script>

var procWin = null, currText = null


function setText( Name ) {
  if ( currText != null ) {
    currText.style.backgroundColor = '';
    //currText.style.color = '';
  }
  
  top.Text.setText( Name )
  
  if (window.event) {
    currText = window.event.srcElement
    currText.style.backgroundColor = 'yellow';
    //currText.style.color = 'white';
  }
}

function OpProcesses() {
  if ( procWin == null || procWin.closed ) {
    procWin = self.open("pslist.pl");
  }
  if ( procWin != null ) {
    procWin.focus()
  }
}

</script>

<body>
 <h2>XReport Admins</h2>

 <table>
 <tr>
  <td class=tref onclick="setText('JobReportNames')">JobReportNames</td></tr>
 <tr>
  <td class=tref onclick="setText('OS390PrintParameters')">OS390PrintParameters</td></tr>
 <tr>
  <td class=tref onclick="setText('ReportNames')">ReportNames</td></tr>
 <!--tr>
  <td class=tref onclick="setText('FilterVarValues')">FilterVarValues</td></tr-->
 <tr>
  <td class=tref onclick="setText('VarSetsValues')">VarSetsValues</td></tr>
 <tr>
  <td class=tref onclick="setText('Folders')">Folders</td></tr>
 <tr>
  <td class=tref onclick="setText('FoldersReportNames')">FoldersReportNames</td></tr>
 <tr>
  <td class=tref onclick="setText('FoldersReportNames_LL1')">FoldersReportNames_LL1</td></tr>
 <tr>
  <td class=tref onclick="setText('Profiles')">Profiles</a></td></tr>
 <tr>
  <td class=tref onclick="setText('ProfilesFoldersTrees')">ProfilesFoldersTrees</a></td></tr>
 <tr>
  <td class=tref onclick="setText('ProfilesReportNames')">ProfilesReportNames</a></td></tr>
 <tr>
  <td class=tref onclick="setText('ProfilesReportNames_LL1')">ProfilesReportNames_LL1</a></td></tr>
 <tr>
  <td class=tref onclick="setText('Users')">Users</a></td></tr>
 <tr>
  <td class=tref onclick="setText('UserAliases')">UserAliases</a></td></tr>
 <tr>
  <td class=tref onclick="setText('UsersProfiles')">UsersProfiles</a></td></tr>
 <tr>
  <td class=tref onclick="setText('JobReports')">JobReports</a></td></tr>
 <!--tr>
  <td class=tref onclick="OpProcesses()">Processes</a></td></tr-->
 </table>
</body>
