
<head><link type="text/css" rel="stylesheet" href="css/cereport.css"></link> </head>

<script>

function _Expand(e, force) {
  top.TreeExp.Expand(e, force, false)
}

function TabClicked() {
  if (!document.all) return
  
  var e = event.srcElement
 
  if ( e.tagName == "IMG" && e.className == "fPM" ) {
	_Expand( e )
	return true
  }	
  else if ( e.className == "flk" ) {
	_Expand( e )
	return true
  }

  return false
}

</script>

<body>
 <br/><h3>ricerche</h3>
 <table onclick="TabClicked()" ftype="Top" fref="/IndexSearch" colspan="20" width="100%" border="0" cellspacing="0" cellpadding="0">
 <tr></tr>
 <tr><td>
 <table border="0" cellspacing="0" cellpadding="0">
 <tr class="fl" target="RETE_ITALIA" fref="RETE_ITALIA">
  <td><img class="fPM" src="images/red.gif"></td>
  <td> </td>
  <td nowrap="true"><span class="flk">RETE ITALIA</span></td>
  <td width="99%"> </td>
 </tr>
 <tr class="fl" target="RETE_SWIFT" fref="RETE_SWIFT">
  <td><img class="fPM" src="images/red.gif"></td>
  <td> </td>
  <td nowrap="true"><span class="flk">RETE SWIFT</span></td>
  <td width="99%"> </td>
 </tr>
 <tr class="fl" target="CERTIFICAZIONI_TITOLI" fref="CERTIFICAZIONI_TITOLI">
  <td><img class="fPM" src="images/red.gif"></td>
  <td> </td>
  <td nowrap="true"><span class="flk">CERTIFICAZIONI TITOLI</span></td>
  <td width="99%"> </td>
 </tr>
 <tr class="fl" target="THBONIFICI" fref="THBONIFICI">
  <td><img class="fPM" src="images/red.gif"></td>
  <td> </td>
  <td nowrap="true"><span class="flk">BONIFICI</span></td>
  <td width="99%"> </td>
 </tr>
 <tr class="fl" target="GARANZIE" fref="GARANZIE">
  <td><img class="fPM" src="images/red.gif"></td>
  <td> </td>
  <td nowrap="true"><span class="flk">GARANZIE</span></td>
  <td width="99%"> </td>
 </tr>
 <tr class="fl" target="DEPOSITI_PRIVATE" fref="DEPOSITI_PRIVATE">
  <td><img class="fPM" src="images/red.gif"></td>
  <td> </td>
  <td nowrap="true"><span class="flk">DEPOSITI PRIV. BANK.</span></td>
  <td width="99%"> </td>
 </tr>
 <tr class="fl" target="CONTI_CORRENTI_PRIVATE" fref="CONTI_CORRENTI_PRIVATE">
  <td><img class="fPM" src="images/red.gif"></td>
  <td> </td>
  <td nowrap="true"><span class="flk">CONTI CORRENTI PRIV. BANK.</span></td>
  <td width="99%"> </td>
 </tr>
 <tr class="fl" target="KEY_BOLOGNA" fref="KEY_BOLOGNA">
  <td><img class="fPM" src="images/red.gif"></td>
  <td> </td>
  <td nowrap="true"><span class="flk">PROVE KEY BOLOGNA</span></td>
  <td width="99%"> </td>
 </tr>
 <tr class="fl" target="CC_CSE" fref="CC_CSE">
  <td><img class="fPM" src="images/red.gif"></td>
  <td> </td>
  <td nowrap="true"><span class="flk">CONTI CORRENTI CSE</span></td>
  <td width="99%"> </td>
 </tr>
 </table>
 </td></tr>
</table>

</body>
