﻿body 
{
    font-size: small;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    margin: 0px;
    padding: 0px;
    background-image: url("../Images/bk_login.gif");
    background-repeat: repeat-x;
    background-position: left top;
}

.logo
{
    position: fixed;
    right: 1%;
    top: 3%;
}

.login
{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -110px;
    margin-left: -195px;  
}

.marginLogo
{
    margin-bottom: 20px;
    text-align: right;
}

.marginLogin
{
    margin-bottom: 10px;
    text-align: right;
}

.summary
{
    margin-top:20px;
    text-align: center;
}
