﻿/*** CALENDAR ***/
.calendar
{
    position: relative;
    margin-left: 2%;
    margin-top: 0.5%;
}
.calendar .ajax__calendar_container
{
    padding: 0px;
    border: 1px solid #518012;
    background-color: White;
    color: Black;
}
.calendar .ajax__calendar_footer
{
    border-top: 1px solid #f5f5f5;
    background-color: #518012;
    color: White;
}
.calendar .ajax__calendar_header
{
    border-top: 1px solid #f5f5f5;
    background-color: #518012;
    width: 100%;
    color: White;
    padding-top: 4px;
}
.calendar .ajax__calendar_prev
{
    background-image: url("../Images/freccia_calendario_sx.png");
}
.calendar .ajax__calendar_next
{
    background-image: url("../Images/freccia_calendario_dx.png");
}
.calendar .ajax__calendar_dayname
{
    border-bottom: 1px solid #518012;
    width: 100%;
    padding: 0px;
    text-align: center;
}
.calendar .ajax__calendar_day
{
    border: 1px solid #ffffff;
    text-align: center;
}
.calendar .ajax__calendar_month
{
    border: 1px solid #ffffff;
}
.calendar .ajax__calendar_year
{
    border: 1px solid #ffffff;
}
.calendar .ajax__calendar_active .ajax__calendar_day
{
    background-color: #518012;
    border-color: #518012;
    color: White;
}
.calendar .ajax__calendar_active .ajax__calendar_month
{
    background-color: #518012;
    border-color: #518012;
    color: White;
}
.calendar .ajax__calendar_active .ajax__calendar_year
{
    background-color: #518012;
    border-color: #518012;
    color: White;
}
.calendar .ajax__calendar_other .ajax__calendar_day
{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #646464;
}
.calendar .ajax__calendar_other .ajax__calendar_year
{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #646464;
}
.calendar .ajax__calendar_hover .ajax__calendar_day
{
    background-color: #518012;
    border-color: #518012;
    color: White;
}
.calendar .ajax__calendar_hover .ajax__calendar_month
{
    background-color: #518012;
    border-color: #518012;
    color: White;
}
.calendar .ajax__calendar_hover .ajax__calendar_year
{
    background-color: #518012;
    border-color: #518012;
    color: White;
}
.calendar .ajax__calendar_hover .ajax__calendar_title
{
    color: White;
    background-color: Green;
}
.calendar .ajax__calendar_hover .ajax__calendar_today
{
    color: #e5f6d1;
}

/*** COMBOBOX ***/

.combobox .ajax__combobox_textboxcontainer
{
    width: 100%;
}

.combobox .ajax__combobox_textboxcontainer input
{
    background-repeat: repeat-x;
    background-image: url("../Images/pixel_sfumatura_combo.gif");
    border: solid 1px #518012;
    border-right: 0px none;
    height: 18px;
    font-family: Verdana;
    font-size: Small;
    width: 100%;
}

.combobox .ajax__combobox_buttoncontainer button
{
    border: solid 1px #518012;
    border-left: solid 1px #9fb27f;
    background-image: url("../Images/freccia_combo.gif");
}

.combobox .ajax__combobox_itemlist
{
    border: solid 1px #518012;
    background-color: #e5f6d1; /*vertical-align:middle; */ /*width: 100%;*/
    overflow: auto;
    max-height: 100px;
    overflow-y: auto !important;
}

.combobox .ajax__combobox_itemlist li
{
    height: 20px; /*vertical-align:middle;*/
    text-indent: 20px; /*background-repeat: repeat-x;     background-image: url("../Images/sfondo_combo.gif");     width: 421px;*/
    color: Black;
}

.combobox .ajax__combobox_itemlist ul
{
    position: absolute !important;
    right: 0px;
}

/*.combobox .ajax__combobox_itemlist li:hover{
    background-repeat: repeat-x;
    background-image: url("../Images/sfondo_selezione_combo.gif");
    color: Black;
}*/

.comboboxDoc .ajax__combobox_textboxcontainer
{
    width: 126px;
}

.comboboxDoc .ajax__combobox_textboxcontainer input
{
    background-repeat: repeat-x;
    background-image: url("../Images/pixel_sfumatura_combo.gif");
    border: solid 1px #518012;
    border-right: 0px none;
    height: 18px;
    font-family: Verdana;
    font-size: Small;
    width: 126px;
}

.comboboxDoc .ajax__combobox_buttoncontainer button
{
    border: solid 1px #518012;
    border-left: solid 1px #9fb27f;
    background-image: url("../Images/freccia_combo.gif");
}

.comboboxDoc .ajax__combobox_itemlist
{
    border: solid 2px #518012;
    background-color: #e5f6d1;
    vertical-align: middle;
    width: 126px;
    overflow: auto;
    max-height: 100px;
    overflow-y: auto !important;
}

.comboboxDoc .ajax__combobox_itemlist li
{
    height: 20px;
    vertical-align: middle;
    text-indent: 3px; /*background-repeat: repeat-x;     background-image: url("../Images/sfondo_combo.gif");     width: 421px;*/
    color: Black;
}

/*.comboboxDoc .ajax__combobox_itemlist li:hover{
    background-repeat: repeat-x;
    background-image: url("../Images/sfondo_selezione_combo.gif");
    color: Black;
}*/

.comboboxError .ajax__combobox_textboxcontainer
{
    width: 100%;
}

.comboboxError .ajax__combobox_textboxcontainer input
{
    background-repeat: repeat-x;
    background-image: url("../Images/pixel_sfumatura_combo.gif");
    border: solid 1px Red;
    border-right: 0px none;
    height: 18px;
    font-family: Verdana;
    font-size: Small;
    width: 100%;
}

.comboboxError .ajax__combobox_buttoncontainer button
{
    border: solid 1px Red;
    border-left: solid 1px #9fb27f;
    background-image: url("../Images/freccia_combo.gif");
}

.comboboxError .ajax__combobox_itemlist
{
    border: solid 1px #518012;
    background-color: #e5f6d1;
    vertical-align: middle;
    overflow: auto;
    max-height: 100px;
    overflow-y: auto !important;
}

.comboboxError .ajax__combobox_itemlist li
{
    height: 20px;
    vertical-align: middle;
    text-indent: 20px; /*background-repeat: repeat-x;     background-image: url("../Images/sfondo_combo.gif");*/
    width: 100%;
}


/*.comboboxError .ajax__combobox_itemlist li:hover {
    background-repeat: repeat-x;
    background-image: url("../Images/sfondo_selezione_combo.gif");
}*/

.comboboxError .ajax__combobox_itemlist li .text
{
    background-repeat: repeat-x;
    background-image: url("../Images/sfondo_selezione_combo.gif");
}

.comboboxFilter .ajax__combobox_textboxcontainer
{
    width: 315px;
}

.comboboxFilter .ajax__combobox_textboxcontainer input
{
    background-repeat: repeat-x;
    background-image: url("../Images/pixel_sfumatura_combo.gif");
    border: solid 1px #518012;
    border-right: 0px none;
    height: 18px;
    font-family: Verdana;
    font-size: Small;
    width: 315px;
}

.comboboxFilter .ajax__combobox_buttoncontainer button
{
    border: solid 1px #518012;
    border-left: solid 1px #9fb27f;
    background-image: url("../Images/freccia_combo.gif");
}

.comboboxFilter .ajax__combobox_itemlist
{
    border: solid 1px #518012;
    background-color: #e5f6d1;
    vertical-align: middle;
    width: 315px;
    overflow: auto;
    max-height: 100px;
    overflow-y: auto !important;
}

.comboboxFilter .ajax__combobox_itemlist li
{
    height: 20px;
    vertical-align: middle;
    text-indent: 20px; /*background-repeat: repeat-x;     background-image: url("../Images/sfondo_combo.gif");     width: 421px;*/
    color: Black;
}

/*** ACCORDION ***/
.accordionHeader
{
    /*border: 2px solid White;     color: White;     background-color: #518012;     font-family: Verdana, Arial, Sans-Serif;     font-size: 12px;     font-weight: bolder;     padding: 5px;     margin-top: 5px;     cursor: pointer;*/
    color: White; /* Colore testo */
    font-weight: bolder;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: small;
    text-align: center;
    border: solid 2px #e5f6d1;
    cursor: pointer;
    padding: 5px;
    margin-top: 5px;
    background: #52A201; /* Background di base */
    background: -webkit-gradient(linear, left top, left bottom, from(#52A201), to(#518012)); /* Sfumatura: che parte da "left-top" e arriva a "left-bottom" "from" il colore "to" l'altro colore  */
    background: -moz-linear-gradient(top,  #52A201,  #518012); /* Per Firefox */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52A201', endColorstr='#518012'); /* Per Explorer, anche se richiede il lancio di un ActiveX che di default è settato a true sui IE, ma che potrebbe richiedere la conferma da parte dell'utente */
}

.accordionHeader:hover
{
    background-color: #bfcbd6;
    color: White; /* il colore del testo */
    background: #518012; /* Background di base */
    background: -webkit-gradient(linear, left top, left bottom, from(#518012), to(#52A201)); /* Sfumatura: che parte da "left-top" e arriva a "left-bottom" "from" il colore "to" l'altro colore  */
    background: -moz-linear-gradient(top,  #518012,  #52A201); /* Per Firefox */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#518012', endColorstr='#52A201'); /* Per Explorer, anche se richiede il lancio di un ActiveX che di default è settato a true sui IE, ma che potrebbe richiedere la conferma da parte dell'utente */
}

.accordionContent
{
    /*background-color: #D3DEEF;*/
    background-color: #52A201;
    border: 2px White;
    border-style: dotted;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}

.completionList
{
    border: solid 2px #518012;
    margin: 0px;
    padding: 2px;
    height: 150px;
    overflow: auto;
    background-color: White;
    width: 250px !important;
}

.listItem
{
    color: #518012;
    height:20px;
}

.itemHighlighted
{
    background-color: #e5f6d1;
    color: #518012;
    font-weight: bold;
}