﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SessionEnd.aspx.cs" Inherits="XReportSearch.SessionEnd" %>

<!DOCTYPE html>
<%@ OutputCache Location="None" VaryByParam="None" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
