﻿/*** MAIN - HEADER - PAGE***/
html
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

body
{
    /*overflow: auto;*/
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    scrollbar-3dlight-color: #e5f6d1;
    scrollbar-arrow-color: #518012;
    scrollbar-base-color: #dbe7cc;
    scrollbar-darkshadow-color: #518012;
    scrollbar-face-color: #ebf1e2;
    scrollbar-highlight-color: #518012;
    scrollbar-shadow-color: #e5f6d1;
}

.main
{
    width: 100%;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: small;
    margin: 0 auto;
    text-align: left;
    overflow: auto;
    background-color: #e5f6d1;
}

/*** HEADER ***/
.headerContainer
{
    width: 100%;
    height: 70px;
    background-position: left top;
    background-repeat: repeat-x;
    background-image: url("../Images/testalino_middle.jpg");
    top: 0;
}

.headerContainerTitle
{
    width: 100%;
    height: 22px;
    background-color: #52A201;
    border-top-width: 1px;
    border-top-color: #e5f6d1;
    border-top-style: solid;
}

.headerContainerTitleInner
{
    width: 100%;
    height: 22px;
    background-color: #52A201;
    border-top-width: 1px;
    border-top-color: #e5f6d1;
    border-top-style: solid;
    white-space: nowrap;
}

.headerLeft
{
    background-image: url("../Images/testalino_sx.jpg");
    top: 0;
    width: 549px;
    height: 70px;
    float: left;
}

.headerTitleLeft
{
    margin-left: 17px;
    margin-top: 50px;
}

.headerTitleLeftInner
{
    margin-left: 17px;
    margin-top: 3px;
}

.headerRight
{
    background-image: url("../Images/testalino_dx.jpg");
    width: 378px;
    height: 70px;
    float: right;
    right: 0;
    top: 0;
    background-position: top;
}

/*** PAGE ***/

.page
{
    width: 100%;
    background-color: #e5f6d1;
}

.pageLeft
{
    background-color: #52A201;
    border-top-color: #ebf1e2;
    border-top-style: solid;
    border-top-width: 1px;
    text-align: center;
    vertical-align: top;
    width: 250px;
}

.pageLeftCollapse
{
    background-color: #52A201;
    border-top-color: #ebf1e2;
    border-top-style: solid;
    border-top-width: 1px;
    text-align: center;
}

.pageRight
{
    width: 100%;
    background-color: #e5f6d1;
    vertical-align: top;
}

.pageRightHeader
{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    height: 17px;
    background-color: #ebf1e2;
    padding-left: 5px;
    padding-top: 3px;
    vertical-align: middle;
}

.data
{
    height: 30px;
    text-align: left;
}

.dataInner
{
    height: 30px;
    text-align: left;
    border-bottom: 1px solid Red;
    border-left: none;
    border-right: none;
}

.buttons
{
    text-align: right;
}

.hidden
{
    display: none;
}

/*** BUTTON ***/
.buttonMenuSelected
{
    color: #518012; /* Colore testo */
    height: 20px;
    width: 120px;
    font-weight: bold;
    font-family: Verdana;
    font-size: small;
    text-align: center;
    border: solid 1px #518012;
    background: #e5f6d1; /* Background di base */
    cursor: default;
}

.buttonMenu
{
    color: White; /* Colore testo */
    height: 20px;
    width: 120px;
    font-weight: normal;
    font-family: Verdana;
    font-size: small;
    text-align: center;
    border: solid 1px DarkGray;
    background: Gray; /* Background di base */
    cursor: pointer;
}

.buttonBig
{
    color: White; /* Colore testo */
    height: 27px;
    width: 100px;
    font-weight: bold;
    font-family: Verdana;
    font-size: small;
    text-align: center;
    border: solid 1px #e5f6d1;
    background: #52A201; /* Background di base */
    background: -webkit-gradient(linear, left top, left bottom, from(#52A201), to(#518012)); /* Sfumatura: che parte da "left-top" e arriva a "left-bottom" "from" il colore "to" l'altro colore  */
    background: -moz-linear-gradient(top,  #52A201,  #518012); /* Per Firefox */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52A201', endColorstr='#518012'); /* Per Explorer, anche se richiede il lancio di un ActiveX che di default è settato a true sui IE, ma che potrebbe richiedere la conferma da parte dell'utente */
}

/* poi definiamo il css quando si passa sopra il tasto con il mouse */
.buttonBig:hover
{
    background-color: #bfcbd6;
    color: White; /* il colore del testo */
    background: #518012; /* Background di base */
    background: -webkit-gradient(linear, left top, left bottom, from(#518012), to(#52A201)); /* Sfumatura: che parte da "left-top" e arriva a "left-bottom" "from" il colore "to" l'altro colore  */
    background: -moz-linear-gradient(top,  #518012,  #52A201); /* Per Firefox */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#518012', endColorstr='#52A201'); /* Per Explorer, anche se richiede il lancio di un ActiveX che di default è settato a true sui IE, ma che potrebbe richiedere la conferma da parte dell'utente */
}

.buttonSmall
{
    color: White; /* Colore testo */
    height: 17px;
    width: 70px;
    font-weight: bold;
    font-family: Verdana;
    font-size: x-small;
    text-align: center;
    border: solid 1px #e5f6d1;
    background: #52A201; /* Background di base */
    background: -webkit-gradient(linear, left top, left bottom, from(#52A201), to(#518012)); /* Sfumatura: che parte da "left-top" e arriva a "left-bottom" "from" il colore "to" l'altro colore  */
    background: -moz-linear-gradient(top,  #52A201,  #518012); /* Per Firefox */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52A201', endColorstr='#518012'); /* Per Explorer, anche se richiede il lancio di un ActiveX che di default è settato a true sui IE, ma che potrebbe richiedere la conferma da parte dell'utente */
}

/* poi definiamo il css quando si passa sopra il tasto con il mouse */
.buttonSmall:hover
{
    background-color: #bfcbd6;
    color: White; /* il colore del testo */
    background: #518012; /* Background di base */
    background: -webkit-gradient(linear, left top, left bottom, from(#518012), to(#52A201)); /* Sfumatura: che parte da "left-top" e arriva a "left-bottom" "from" il colore "to" l'altro colore  */
    background: -moz-linear-gradient(top,  #518012,  #52A201); /* Per Firefox */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#518012', endColorstr='#52A201'); /* Per Explorer, anche se richiede il lancio di un ActiveX che di default è settato a true sui IE, ma che potrebbe richiedere la conferma da parte dell'utente */
}

/*** PAGER ***/
.pager
{
    background-color: #518012;
    font-weight: bold;
    color: White;
    padding: 2px 5px 2px 5px;
    height: 25px;
    vertical-align: middle;
    position: relative;
    top: expression(this.offsetParent.scrollTop);
    z-index: 10;
}

.pager a
{
    border: 1px solid White;
    color: White;
    text-decoration: none;
    padding: 2px 5px 2px 5px;
}
.pager span
{
    background-color: #e5f6d1;
    border: 1px solid White;
    color: #518012;
    padding: 2px 5px 2px 5px;
}

.pager a:hover
{
    background-color: #e5f6d1;
    color: #518012;
    text-decoration: none;
}

/*** POPUP ***/

.popupWarning
{
    width: 600px;
    height: 400px;
    border-color: #518012;
    border-style: solid;
    background-color: #e5f6d1;
    border-width: 2px;
    background-attachment: fixed;
    position: fixed;
}

.popupError
{
    width: 250px;
    height: 160px;
    border-color: #518012;
    border-style: solid;
    background-color: #e5f6d1;
    border-width: 2px;
    background-attachment: fixed;
    position: fixed;
}

.popupWarningBig
{
    width: 300px;
    height: 300px;
    border-color: #518012;
    border-style: solid;
    background-color: #e5f6d1;
    border-width: 2px;
    background-attachment: fixed;
    position: fixed;
}

.divWarning
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal
{
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.modalProgress
{
    background-color: White;
    filter: alpha(opacity=50);
    opacity: 0.3;
}

.linkButton
{
    color: #518012;
    font-family: Verdana;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 10pt;
    cursor: hand;
    text-decoration: none;
}

